<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Tech Connection</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <div class='wrapper'>

      <header>
        <h1 class='text-center page-title'>
          <a href='/'>tech connection</a>
        </h1>

        <ul class='nav justify-content-end'>
          {{#if loggedIn}}
            <li class='nav-item'>
              <a href='/dashboard' class='nav-link'>dasboard</a>
            </li>
            <li class='nav-item'>
              <a href='/logout' class='nav-link' id='logout'>logout</a>
            </li>
          {{else}}
            <li class='nav-item'>
              <a href='/login' class='nav-link'>login</a>
            </li>
          {{/if}}
        </ul>

      </header>

      <main>
        {{{body}}}
      </main>

      <footer>
        Thanks for visiting!
      </footer>

    </div>

    <script src='/js/logout.js'></script>

  </body>

</html>