<section>
  <h2>Create New Post</h2>

  <form class='new-post-form'>
    <div>
      <label for='post-title'>Title:</label>
      <input
        type='text'
        name='new-post-title'
        id='new-post-title'
        name='post-title'
      />
    </div>
    {{! <div>
      <label for='source'>Source:</label>
      <input id='source' name='source' />
    </div> }}
    <div>
      <label for='post-content'>Content:</label>
      <textarea
        id='new-post-body'
        name='new-post-body'
        placeholder='What do you wanna share?'
      ></textarea>
    </div>
    <button type='submit' class='btn'>Create</button>
  </form>
</section>

{{#if posts.length}}
  <section>
    <h2>Your Posts</h2>
    <ol>
      {{#each posts}}
        <li>
          <a href='/dashboard/edit/{{id}}' class='edit-link'><span
            >{{post_title}}</span>
            <span>{{format_date createdAt}}</span></a>
        </li>
      {{/each}}
    </ol>
  </section>
{{/if}}

<script src='/js/add-post.js'></script>
{{! <script src='/js/delete-post.js'></script> }}