<section>
  <h2>Welcome, {{user.username}} </h2>

  <form class='new-post-form'>
    <div>
      <label for='post-title'>add title:</label>
      <input
        type='text'
        name='new-post-title'
        id='new-post-title'
        name='post-title'
      />
    </div>

    <div>
      <label for='post-content'></label>
      <textarea
        id='new-post-body'
        name='new-post-body'
        placeholder='what do you wanna share?'
      ></textarea>
    </div>

    <div>
      <button type='submit' class='btn'>Create</button>
    </div>
  </form>

</section>

{{#if posts.length}}
  <section>
    <h2>Your Posts</h2>
    <ul class='dashboard-posts'>
      {{#each posts}}
        <li>
          <a href='/dashboard/edit/{{id}}' class='edit-link'><span
            >{{post_title}}</span>
            <span>{{format_date createdAt}}</span></a>
        </li>
      {{/each}}
    </ul>
  </section>
{{/if}}

<script src='/js/add-post.js'></script>
<script src='/js/delete-post.js'></script>