<ul class='post-list'>
  {{#each posts}}
    <li>
      <article class='card post'>
        <div class='postTitle'>
          <a href='/post/{{id}}'>{{post_title}}</a>
        </div>

        <div class='card-text postCreator'>
          By
          {{user.username}}
          on
          {{format_date createdAt}}
        </div>

      </article>
    </li>
  {{/each}}
</ul>